<!-- Conteúdo a direita -->

<md-content class="conteudo-lateral">
    <div class="container tabela-container">
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <h2>{{culturaPrc.tabela.titulo}}</h2>
                <p style="display: inline; margin-right= 50px;">{{culturaPrc.tabela.subtitulo}}</p>
            </span>

            <!-- Campos de entrada de datas -->
            <span class="tabela-cabecalho-campos">
                <!-- Campo de busca -->
                <md-input-container class="tabela-cabecalho-input">
                    <label for="busca">Busca</label>
                    <input ng-model="buscador">
                </md-input-container>
            </span>
        </div>
        <!-- Botões -->
        <md-button style="float: right;" class="md-primary md-raised" ng-click="culturaPrc.create()">Novo</md-button>
        <md-button style="float: right;" class="md-primary md-raised" ng-click="culturaPrc.printData()">Imprimir</md-button>
        <!-- Tabela -->
        <table class="table table-striped table-bordered table-hover" id="tabela_dados">
            <thead>
                <tr>
                    <th ng-repeat="dado in culturaPrc.tabela.cabecalho">{{dado}}</th>
                    <th id='th_editar_excluir' >Editar</th>
                    <th id='th_editar_excluir' >Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item  in culturaPrc.Cultura.list| filter:buscador">
                    <td ng-show="culturaPrc.$mdMedia('gt-sm')">{{item.IDC_CAD_CULTURA}}</td>
                    <td ng-show="culturaPrc.$mdMedia('gt-sm')">{{item.NOM_CULTURA}}</td>
                    <td ng-show="culturaPrc.$mdMedia('gt-sm')">{{culturaPrc.getFazenda(item.CAD_FAZENDA_idCAD_FAZENDA).NOME}}</td>
                    <td id='td_editar_excluir'>
                        <md-button class="md-icon-button"
                                   ng-click="culturaPrc.update($event, item)"
                                   aria-label="Editar">
                            <md-icon> create </md-icon>

                        </md-button>
                    </td>
                    <td id='td_editar_excluir'>

                        <md-button class="md-icon-button"
                                   ng-click="culturaPrc.excluir($event, item)"
                                   aria-label="Excluir">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>

       
    </div>
</md-content>