<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="tabela-container">
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <h2>{{parcelasPrc.tabela.titulo}}</h2>
                <p style="display: inline; margin-right= 50px;">{{parcelasPrc.tabela.subtitulo}}</p>
            </span>

        </div>

        <div layout="row">
            <div class="col-sm-6 no-padding">
                <!-- Botões -->
                <md-button class="md-primary md-raised" ng-click="parcelasPrc.create()">Novo</md-button>
                <md-button class="md-primary md-raised" ng-click="parcelasPrc.printData()">Imprimir</md-button>
            </div>
        </div>
        <!-- Tabela -->
        <div class="tabela-container">
            <table ng-table-dynamic="parcelasPrc.tableParams with parcelasPrc.cols" class="table">
                <tr ng-repeat="row in $data">
                    <td ng-repeat="col in $columns">
                        <span ng-if="col.type=='valor'&&col.isDate"> {{row[col.field]| date:"dd/MM/yyyy" }}</span>
                        <span ng-if="col.type=='valor'&&!col.isDate"> {{row[col.field] }}</span>
                        <span ng-if="col.type=='valorCompostoCultura'"> {{parcelasPrc.getCultura(row[col.field]).NOM_CULTURA}}</span>
                        <span ng-if="col.type=='valorCompostoOutorga'"> {{parcelasPrc.getOutorga(row[col.field]).NOM_OUTORGA}}</span>
                        <span ng-if="col.type=='valorCompostoPivoCentral'"> {{parcelasPrc.getPivoCentral(row[col.field]).NOM_PIVO_CENTRAL}}</span>
                        <span ng-if="col.type=='valorCompostoGotejador'"> {{parcelasPrc.getGotejador(row[col.field]).NOM_GOTEJADOR}}</span>
                        <span ng-if="col.type=='valorCompostoSolo'"> {{parcelasPrc.getSolo(row[col.field]).NOM_SOLO}}</span>
                     
                        <span ng-if="col.type=='comandoEditar'" class='width-70-px'>
                            <md-button class="md-icon-button"
                                       ng-click="parcelasPrc.update($event, row)"
                                       aria-label="Editar">
                                <md-icon> create </md-icon>
                            </md-button>
                        </span>
                        <span ng-if="col.type=='comandoDeletar'">
                            <md-button class="md-icon-button"
                                       ng-click="parcelasPrc.excluir($event, row)"
                                       aria-label="Excluir">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</md-content>