<md-dialog aria-label="Cadastrar Clima" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Cadastrar Clima</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">

                <md-datepicker ng-model="" md-placeholder="Data">
                    {{NG-MODEL | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>

                <md-input-container class="full-width">
                    <label>Temperatura máxima (ºC)</label>
                    <input type="number" ng-model="" />
                </md-input-container>

                <md-input-container class="full-width">
                    <label>Temperatura mínima (ºC)</label>
                    <input type="number" ng-model="" />
                </md-input-container>

                <md-input-container class="full-width">
                    <label>Temperatura média (ºC)</label>
                    <input type="number" ng-model="" />
                </md-input-container>

                <md-input-container class="full-width">
                    <label>Umidade relativa (%)</label>
                    <input type="number" ng-model="" />
                </md-input-container>

                <md-input-container class="full-width">
                    <label>Velocidade do vento (m/s)</label>
                    <input type="number" ng-model="" />
                </md-input-container>

                <md-input-container class="full-width">
                    <label>Precipitação total (mm)</label>
                    <input type="number" ng-model="" />
                </md-input-container>

                <md-input-container class="full-width">
                    <label>Radiação média 24h (W/m²)</label>
                    <input type="number" ng-model="" />
                </md-input-container>

                <!--<md-input-container class="md-block">
                    <label>Peso Líquido</label>
                    <md-select ng-model="selected.PESO_LIQUIDO">
                        <md-option ng-value=" local in apt.local.list" value="{{selected.PESO_LIQUIDO}}">
                        {{selected.PESO_LIQUIDO}}
                        </md-option>
                    </md-select>
                </md-input-container>-->

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()" class="md-raised md-primary">
                Cancelar
            </md-button>
            <md-button ng-click="salvar(selected)" class="md-raised md-primary" style="margin-right:20px;">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>