<div id="login-background" data-layout=row" data-layout-align="center start" data-flex class="default-background">
    <md-card id="login-interface">
        <md-card-title>
            <form data-layout="column" data-layout-align="center center">
                <md-card-title-media>
                    <div class="md-media-lg card-media" style="padding-top:15%;">
                        <img src="./img/ihm-Stefanini.png" />
                    </div>
                </md-card-title-media>
            </form>
        </md-card-title>


        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" style="color: #9FC762;">Hidrocontroll</span>
            </md-card-title-text>
        </md-card-title>


        <md-card-actions>
            <form name="loginForm" data-layout="column" data-layout-align="center center" novalidate>
                <md-input-container>
                    <label>Matrícula</label>
                    <input name="Matricula" ng-model="login.obj.NUM_MATRICULA" required>
                    <div class="validation-messages" ng-messages="loginForm.Matricula.$error" >
                        <div ng-message="required">Digite uma matrícula.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Senha</label>
                    <input type="password" ng-model="login.obj.SENHA_USUARIO" required>
                    <div name="senha" class="validation-messages" ng-messages="loginForm.senha.$error" >
                        <div ng-message="required">Digite uma senha.</div>
                    </div>
                </md-input-container>
                <md-button class="login-button md-raised md-primary" ng-click="loginForm.$valid && login.entrar() " type="submit" ng-disabled="login.desabilitaEntrar">Entrar</md-button>
            </form>
        </md-card-actions>
    </md-card>
</div>