<md-toolbar id="tool-bar" layout="row">
    
    <md-button ng-click="body.toggle()" aria-label="Menu">
        <md-icon style="color: #ffffff; font-size: 30px;"> menu </md-icon>
    </md-button>
    <h3 class="titulo">Hidrocontroll<span ng-show="body.gtSm"> {{body.$state.$current.menu}}</span></h3>
    
    <div class="dados-cabecalho" layout="column">
        <span><b>Matrícula:</b> {{body.matriculaUsuario}} </span>
        <span id="nome-fazenda"><b>Fazenda:</b> {{body.nomeFazenda}} </span>
        
    </div>
        <md-card-title-media >
           
            <div class="md-media-lg card-media" style="padding-top: 5px; padding-right: 10px">
                <img src="./img/logoBranca.png" />
            </div>
        </md-card-title-media>
</md-toolbar>

<div style="width: 100%;" class="container" data-layout="row" data-flex>
    <md-sidenav style="width: 300px;" class="md-whiteframe-4dp" md-component-id="left">
        <nav style="width: 100%" class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" ng-repeat="menuOpt in body.menu">
                            <a ng-show="menuOpt.subMenu" class="dropdown-toggle" data-toggle="dropdown">{{menuOpt.menu}} <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity {{menuOpt.icon}}"></span></a>
                            <a ng-show="!menuOpt.subMenu" ng-click="body.go(('main.' + menuOpt.menu))" class="dropdown-toggle" data-toggle="dropdown">{{menuOpt.menu}}<span style="font-size:16px;" class="pull-right hidden-xs showopacity {{menuOpt.icon}}"></span></a>

                            <ul style="padding-bottom:30px;" class="dropdown-menu forAnimate" role="menu">
                                <span ng-repeat="submenu in menuOpt.subMenu">
                                    <li ng-show="!submenu.subSubMenu" ng-click="body.go(('main.' +menuOpt.menu+ submenu.nome).replace(' ',''))">
                                        <a style="width: 100%; text-align: left;" class="btn btn-default">
                                            {{submenu.nome}}
                                            <span class="pull-right {{submenu.icon}}"></span>
                                        </a>
                                    </li>

                                    <li class="dropdown" ng-show="submenu.subSubMenu">
                                        <a style="width: 100%; text-align: left;" class="btn btn-default">
                                            {{submenu.nome}}
                                            <span class="caret"></span>
                                            <span class="pull-right {{submenu.icon}}"></span>
                                        </a>
                                        <ul style="padding-bottom:30px;" class="forAnimate" role="menu">
                                            <span ng-repeat="subSubMenu in submenu.subSubMenu">
                                                <li ng-click="body.go(('main.'+menuOpt.menu+ submenu.nome+subSubMenu.nome).replace(' ',''))">
                                                    <a style="width: 100%; text-align: left;" class="btn btn-default">
                                                        {{subSubMenu.nome}}
                                                        <span class="pull-right {{subSubMenu.icon}}"></span>
                                                    </a>
                                                </li>
                                            </span>
                                        </ul>
                                    </li>
                                </span>
                            </ul>

                        </li>

                        <li class="dropdown">
                            <a ng-click="body.logout()" class="dropdown-toggle" data-toggle="dropdown">Sair<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </md-sidenav>

    <md-content class="content" flex>
        <div data-layout="row" data-layout-align="end center" data-flex></div>
        <div data-ui-view></div>
    </md-content>
</div>