.width-70-px{
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}

.width-10-per{
    width:10%;
}

.width-15-per{
    width:15%;
}

.width-16-px{
    width:16px ;
    max-width:16px ;
    min-width:16px ;
    padding:0px !important;
    border:0px !important;
}

.width-29-per{
    width:29%;
}

.width-30-per{
    width:30%;
}

.width-31-per{
    width:31%;
}

.width-40-per{
    width:40%;
}


.width-41-per{
    width:41%;
}

.width-59-per{
    width:59%;
}

.width-60-per{
    width:60%;
}




