<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="tabela-container">
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <h2>{{climaDds.tabela.titulo}}</h2>
                <p style="display: inline; margin-right= 50px;">{{climaDds.tabela.subtitulo}}</p>
            </span>

        </div>

        <div layout="row">
            <div class="col-sm-6 no-padding">
                <!-- Botões -->
                <md-button class="md-primary md-raised" ng-click="climaDds.create()">Novo</md-button>
                <md-button class="md-primary md-raised" ng-click="climaDds.printData()">Imprimir</md-button>
            </div>
            <!-- Campos de entrada de datas -->
            <div class="col-sm-6 no-padding">
                <md-datepicker class="tabela-cabecalho-input" ng-model="climaDds.tabela.data_fim" md-placeholder="Data de Fim" md-min-date="climaDds.tabela.data_inicio" ng-change="climaDds.refresh()">
                  
                </md-datepicker>
                <md-datepicker class="tabela-cabecalho-input" ng-model=" climaDds.tabela.data_inicio" md-placeholder="Data de Início" ng-change="climaDds.refresh()">
                 
                </md-datepicker>

            </div>
        </div>
        <!-- Tabela -->
        <div class="tabela-container">
            <table id="tabela_dados" ng-table-dynamic="climaDds.tableParams with climaDds.cols" class="table">
                <tr ng-repeat="row in $data">
                    <td ng-repeat="col in $columns" id="{{col.type}}">
                        <span ng-if="col.type=='valor'&&col.isDate"> {{row[col.field]| date:"dd/MM/yyyy" }}</span>
                        <span ng-if="col.type=='valor'&&!col.isDate"> {{row[col.field] }}</span>
                        <span ng-if="col.type=='comandoEditar'" class='width-70-px'>
                            <md-button class="md-icon-button"
                                       ng-click="climaDds.update($event, row)"
                                       aria-label="Editar">
                                <md-icon> create </md-icon>
                            </md-button>
                        </span>
                        <span ng-if="col.type=='comandoDeletar'">
                            <md-button class="md-icon-button"
                                       ng-click="climaDds.excluir($event, row)"
                                       aria-label="Excluir">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</md-content>