<!-- Conteúdo a direita -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
<md-content class="conteudo-lateral">
    <div class="tabela-container">
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <h2>{{irrigacaoDds.tabela.titulo}}</h2>
                <p style="display: inline; margin-right= 50px;">{{irrigacaoDds.tabela.subtitulo}}</p>
            </span>

        </div>
        <div layout="row">
            <div class="col-sm-4 no-padding div-filtro">
                <!-- Botões -->
                <md-button class="md-primary md-raised" ng-click="irrigacaoDds.create()">Novo</md-button>

                <md-button class="md-primary md-raised" ng-click="irrigacaoDds.printData()">Imprimir</md-button>
            </div>

            <div class="col-sm-4 no-padding  div-filtro">
                <md-input-container class="filtro-seletor">

                    <label>Parcela</label>
                    <md-select ng-model="irrigacaoDds.ParcelasFiltro"
                               md-on-close="irrigacaoDds.clearSearchTerm()"
                               data-md-container-class="selectdemoSelectHeader"
                               multiple ng-change="irrigacaoDds.refresh()">
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm"
                                   type="search"
                                   placeholder="Buscar Parcela"
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup>
                            <md-option ng-value="parcela" ng-repeat="parcela in irrigacaoDds.buscarParcelaFazenda(searchTerm)">{{parcela.NOM_PARCELA}}</md-option>
                        </md-optgroup>
                    </md-select>

                </md-input-container>
            </div>

            <!-- Campos de entrada de datas -->
            <div class="col-sm-4 no-padding div-filtro">


                <md-datepicker class="tabela-cabecalho-input" ng-model=" irrigacaoDds.tabela.data_inicio" md-placeholder="Data de Início" ng-change="irrigacaoDds.refresh()">
                    {{irrigacaoDds.tabela.data_inicio | date:" dd/MM/yyyy"}}
                </md-datepicker>
                <md-datepicker class="tabela-cabecalho-input" ng-model="irrigacaoDds.tabela.data_fim" md-placeholder="Data de Fim" md-min-date="irrigacaoDds.tabela.data_inicio" ng-change="irrigacaoDds.refresh()">
                    {{irrigacaoDds.tabela.data_fim | date:"dd/MM/yyyy"}}
                </md-datepicker>

            </div>
        </div>
        <!-- Tabela -->
        <div class="tabela-container">
            <table id="tabela_dados"  ng-table-dynamic="irrigacaoDds.tableParams with irrigacaoDds.cols" class="table">
                <tr ng-repeat="row in $data">
                    <td ng-repeat="col in $columns" id="{{col.type}}">
                        <span ng-if="col.type=='valor'&&col.isDate&&!col.isTime"> {{row[col.field]| date:"dd/MM/yyyy" }}</span>
                        <span ng-if="col.type=='valor'&&!col.isDate&&!col.isTime"> {{row[col.field] }}</span>

                        <span ng-if="col.type=='valor'&&col.isTime"> {{row[col.field].substr(0,5) }}</span>
                        <span ng-if="col.type=='valorCompostoParcela'"> {{irrigacaoDds.getParcela(row[col.field]).NOM_PARCELA}}</span>
                        <span ng-if="col.type=='valorCompostoMotobomba'"> {{irrigacaoDds.getMotobomba(row[col.field]).NOM_MOTOBOMBA}}</span>
                        <span ng-if="col.type=='valorCompostoReservatorio'"> {{irrigacaoDds.getReservatorio(row[col.field]).NOM_RESERVATORIO}}</span>
                        <span id="item-true" ng-if="col.type=='valorBool'&&row[col.field]">
                            <md-button ng-disabled="true" class="md-icon-button" aria-label="fertirrigacao verdeira">
                                <md-icon class="glyphicon glyphicon-ok-sign"></md-icon>
                            </md-button>
                        </span>
                        <span id="item-false" ng-if="col.type=='valorBool'&&!row[col.field]">
                            <md-button ng-disabled="true" class="md-icon-button" aria-label="fertirrigacao falsa">
                                <md-icon class="glyphicon glyphicon-remove-sign"></md-icon>
                            </md-button>
                        </span>
                        <span ng-if="col.type=='comandoEditar'" class='width-70-px'>
                            <md-button class="md-icon-button"
                                       ng-click="irrigacaoDds.update($event, row)"
                                       aria-label="Editar">
                                <md-icon> create </md-icon>
                            </md-button>
                        </span>
                        <span ng-if="col.type=='comandoDeletar'">
                            <md-button class="md-icon-button"
                                       ng-click="irrigacaoDds.excluir($event, row)"
                                       aria-label="Excluir">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</md-content>