<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="container tabela-container">
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <h2>{{precipitacaoDds.tabela.titulo}}</h2>
                <p style="display: inline; margin-right= 50px;">{{precipitacaoDds.tabela.subtitulo}}</p>
            </span>

            <!-- Campos de entrada de datas -->
            <span class="tabela-cabecalho-campos">
                <md-datepicker class="tabela-cabecalho-float" ng-model="precipitacaoDds.tabela.data_inicio" md-placeholder="Data de Início">
                    {{precipitacaoDds.tabela.data_inicio | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>
                <md-datepicker class="tabela-cabecalho-float" ng-model="precipitacaoDds.tabela.data_fim" md-placeholder="Data de Fim">
                    {{precipitacaoDds.tabela.data_fim | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>

                <md-input-container class="tabela-cabecalho-input">
                    <label>Parcela</label>
                    <md-select ng-model="precipitacaoDds.parcela">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="parcela in precipitacaoDds.parcelas" ng-value="parcela">
                            {{parcelas}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </span>
        </div>

        <!-- Tabela -->
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-repeat="dado in precipitacaoDds.tabela.cabecalho">{{dado}}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table> 
        
        <!-- Botões -->
        <md-button style="float: right;" class="md-primary md-raised" ng-click="">Novo</md-button>
        <md-button style="float: right;" class="md-primary md-raised" ng-click="">Imprimir</md-button>
    </div>
</md-content>