<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="tabela-container">
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column" >
                <h2>{{reservatorioDds.tabela.titulo}}</h2>
                <p style="display: inline; margin-right= 50px;">{{reservatorioDds.tabela.subtitulo}}</p>
            </span>
        </div>


        <div layout="row">
            <div class="col-sm-6 no-padding">
                <!-- Botões -->
                <md-button class="md-primary md-raised" ng-click="reservatorioDds.create()">Novo</md-button>

                <md-button class="md-primary md-raised" ng-click="reservatorioDds.printData()">Imprimir</md-button>
            </div>
            <!-- Campos de entrada de datas -->
            <div class="col-sm-6 no-padding">
                <md-datepicker class="tabela-cabecalho-input" ng-model="reservatorioDds.tabela.data_fim" md-placeholder="Data de Fim" md-min-date="reservatorioDds.tabela.data_inicio" ng-change="reservatorioDds.refresh()">
                    {{reservatorioDds.tabela.data_fim | date:"dd/MM/yyyy"}}
                </md-datepicker>
                <md-datepicker class="tabela-cabecalho-input" ng-model=" reservatorioDds.tabela.data_inicio" md-placeholder="Data de Início" ng-change="reservatorioDds.refresh()">
                    {{reservatorioDds.tabela.data_inicio | date:" dd/MM/yyyy"}}
                </md-datepicker>

            </div>
        </div>
        <!-- Tabela -->
        <div class="tabela-container">
            <table id="tabela_dados" ng-table-dynamic="reservatorioDds.tableParams with reservatorioDds.cols" class="table">
                <tr ng-repeat="row in $data">
                    <td ng-repeat="col in $columns" id="{{col.type}}">
                        <span ng-if="col.type=='valor'&&col.isDate&&!col.isTime"> {{row[col.field]| date:"dd/MM/yyyy" }}</span>
                        <span ng-if="col.type=='valor'&&!col.isDate&&!col.isTime"> {{row[col.field] }}</span>

                        <span ng-if="col.type=='valor'&&col.isTime"> {{row[col.field].substr(0,5) }}</span>
                        <span ng-if="col.type=='valorCompostoMotobomba'"> {{reservatorioDds.getMotobomba(row[col.field]).NOM_MOTOBOMBA}}</span>
                        <span ng-if="col.type=='valorCompostoReservatorio'"> {{reservatorioDds.getReservatorio(row[col.field]).NOM_RESERVATORIO}}</span>
                        <span ng-if="col.type=='comandoEditar'" class='width-70-px'>
                            <md-button class="md-icon-button"
                                       ng-click="reservatorioDds.update($event, row)"
                                       aria-label="Editar">
                                <md-icon> create </md-icon>
                            </md-button>
                        </span>
                        <span ng-if="col.type=='comandoDeletar'">
                            <md-button class="md-icon-button"
                                       ng-click="reservatorioDds.excluir($event, row)"
                                       aria-label="Excluir">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</md-content>