<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="tabela-container">
        <!-- Campos de filtro -->
        <span class="tabela-cabecalho-titulo" layout="column">
            <span layout="column">
                <h2>{{consumoOutRel.cabecalho.titulo}}</h2>
                <p>{{consumoOutRel.cabecalho.subtitulo}}</p>
            </span>
        </span>
        <div layout="row" class="linha-filtros">

            <div class="col-sm-3 div-filtro no-padding">
                <md-input-container class="filtro-seletor">
                    <label>Data</label>
                    <md-select ng-model="consumoOutRel.data">
                        <md-option ng-repeat="data in consumoOutRel.cabecalho.data" ng-value="data">
                            {{data}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>


            <div class="col-sm-3 no-padding  div-filtro" style="text-align: center;">

                <md-datepicker ng-model="consumoOutRel.cabecalho.data_inicio" md-placeholder="Data de Início" ng-disabled="consumoOutRel.data != 'Período'">
                    {{dados.cabecalho.data_inicio | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>
                <md-datepicker ng-model="consumoOutRel.cabecalho.data_fim" md-placeholder="Data de Fim" md-min-date="consumoOutRel.cabecalho.data_inicio" ng-disabled="consumoOutRel.data != 'Período' || consumoOutRel.cabecalho.data_inicio == null">
                    {{dados.cabecalho.data_fim | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>
            </div>


            <div class="col-sm-3 div-filtro no-padding">
                <md-input-container class="filtro-seletor">
                    <label>Atributos</label>
                    <md-select multiple="" md-selected-text="{{consumoOutRel.atributosMarcados.length}} + ' Atributos' " ng-model="consumoOutRel.atributosMarcados" ng-disabled="consumoOutRel.ParcelasFiltro.length==0|| consumoOutRel.data==null|| (consumoOutRel.data == 'Período' && consumoOutRel.cabecalho.data_inicio == null && consumoOutRel.cabecalho.data_fim == null)">
                        <md-optgroup label="Atributos">
                            <md-button class="md-primary md-raised" ng-click="consumoOutRel.marcarTodosAtributos()">Todos</md-button>
                            <md-button class="md-primary md-raised" ng-click="consumoOutRel.limparTodosAtributos()">Limpar</md-button>
                            <md-option ng-repeat="atributo in consumoOutRel.atributos" ng-value="atributo">
                                {{atributo}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-sm-3 div-filtro no-padding">
                <md-button class=" md-primary md-raised" ng-click="consumoOutRel.iniciaBusca()" ng-disabled="consumoOutRel.atributosMarcados.length*consumoOutRel.ParcelasFiltro.length == 0 ||consumoOutRel.data==null|| (consumoOutRel.data == 'Período' && consumoOutRel.cabecalho.data_inicio == null && consumoOutRel.cabecalho.data_fim == null)" style="float: right;">
                    Buscar
                </md-button>
            </div>
        </div>

        <!-- Tabela -->
        <!-- Tabela -->
        <div class="tabela-container" ng-if="consumoOutRel.tableParams">
            <md-toolbar class="titulo-tabela">
                <div class="md-toolbar-tools">
                    Climas
                    <span flex></span>
                    <md-button class="md-fab md-mini" aria-label="Imprimir" ng-click="consumoOutRel.imprimeTabela();">
                        <md-icon>print</md-icon>
                    </md-button>
                </div>

            </md-toolbar>
            <table id="tabela_resultado" ng-table-dynamic="consumoOutRel.tableParams with consumoOutRel.cols" class="table">
                <tr ng-repeat="row in $data track by $index">
                    <td ng-repeat="col in $columns">
                        <span ng-if="col.type=='valor'"> {{row[col.field] }}</span>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</md-content>