<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="container tabela-container">
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <h2>{{gotejadorEqp.tabela.titulo}}</h2>
                <p style="display: inline; margin-right= 50px;">{{gotejadorEqp.tabela.subtitulo}}</p>
            </span>

            
        </div>

        <div layout="row">
            <div class="col-sm-8">
                <!-- Botões -->
                <md-button class="md-primary md-raised" ng-click="gotejadorEqp.create()">Novo</md-button>
                <md-button class="md-primary md-raised" ng-click="gotejadorEqp.printData()">Imprimir</md-button>
            </div>
            <!-- Campos de entrada de datas -->
            <div class="col-sm-4">
                <!-- Campo de busca -->
                <span class="tabela-cabecalho-campos">
                    <md-input-container class="tabela-cabecalho-input">
                        <label for="busca">Busca</label>
                        <input type="text" ng-model="gotejadorEqp.tabela.busca" aria-label="ShowHideAccountant" value="busca" />
                    </md-input-container>
                </span>
            </div>
        </div>
        <!-- Tabela -->
        <table class="table table-striped table-bordered table-hover" id="tabela_dados">
            <thead>
                <tr>
                    <th ng-repeat="equipamento in gotejadorEqp.tabela.cabecalho">{{equipamento}}</th>
                    <th id='th_editar_excluir'>Editar</th>
                    <th id='th_editar_excluir'>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item  in gotejadorEqp.Gotejador.list | filter:gotejadoreqp.tabela.busca ">
                    <td ng-show="gotejadorEqp.$mdMedia('gt-sm')">{{item.NOM_GOTEJADOR}}</td>
                    <td ng-show="gotejadorEqp.$mdMedia('gt-sm')">{{item.VAZ_GOTEJADOR}}</td>
                    <td ng-show="gotejadorEqp.$mdMedia('gt-sm')">{{item.VAR_ESPACAMENTO_GOTEJADORES}}</td>
                    <td ng-show="gotejadorEqp.$mdMedia('gt-sm')">{{item.VAR_ESPACAMENTO_LINHAS_LATERAIS}}</td>
                    <td ng-show="gotejadorEqp.$mdMedia('gt-sm')">{{item.LAR_FAIXA_MOLHADA}}</td>
                    <td ng-show="gotejadorEqp.$mdMedia('gt-sm')">{{item.VAR_UNIFORMIDADE}}</td>
                    <td ng-show="gotejadorEqp.$mdMedia('gt-sm')">{{item.VAR_LAMINA}}</td>
                    <td id='td_editar_excluir'>
                        <md-button class="md-icon-button"
                                   ng-click="gotejadorEqp.update($event, item)"
                                   aria-label="Editar">
                            <md-icon> create </md-icon>

                        </md-button>
                    </td>
                    <td id='td_editar_excluir'>

                        <md-button class="md-icon-button"
                                   ng-click="gotejadorEqp.excluir($event, item)"
                                   aria-label="Excluir">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</md-content>