<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="container tabela-container">
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <h2>{{motobombaEqp.tabela.titulo}}</h2>
                <p style="display: inline; margin-right= 50px;">{{motobombaEqp.tabela.subtitulo}}</p>
            </span>
            <!-- Campos de entrada de datas -->
            <span class="tabela-cabecalho-campos">
                <!-- Campo de busca -->
                <md-input-container class="tabela-cabecalho-input">
                    <label for="busca">Busca</label>
                    <input type="number" ng-model="motobombaEqp.tabela.busca" aria-label="ShowHideAccountant" value="busca" />
                </md-input-container>
            </span>
        </div>

        <!-- Tabela -->
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-repeat="equipamento in motobombaEqp.tabela.cabecalho">{{equipamento}}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <!-- Botões -->
        <md-button style="float: right;" class="md-primary md-raised" ng-click="">Novo</md-button>
        <md-button style="float: right;" class="md-primary md-raised" ng-click="">Imprimir</md-button>
    </div>
</md-content>