<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="container">
        <h2>{{reservatorioEqp.tabela.titulo}}</h2>
        <p style="display: inline; margin-right= 50px;">{{reservatorioEqp.tabela.subtitulo}}</p>

        <!-- Campo de busca -->
        <md-input-container style="float: right; margin: 0; height: 50px;">
            <label for="busca">Busca</label>
            <input type="number" ng-model="reservatorioEqp.tabela.busca" aria-label="ShowHideAccountant" value="busca" />
        </md-input-container>

        <!-- Tabela -->
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-repeat="equipamento in reservatorioEqp.tabela.cabecalho">{{equipamento}}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- Botões -->
    <md-button style="float: right;" class="md-primary md-raised" ng-click="">Novo</md-button>
    <md-button style="float: right;" class="md-primary md-raised" ng-click="">Imprimir</md-button>
</md-content>