<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="container tabela-container">
        <!-- Campos de filtro -->
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <h2>{{climaRel.tabela.titulo}}</h2>
                <p>{{climaRel.tabela.subtitulo}}</p>
            </span>

            <!-- Campos de entrada de datas -->
            <span class="tabela-cabecalho-campos">
                <!-- Campos de entrada de datas -->
                <md-datepicker class="tabela-cabecalho-float" ng-model="climaRel.tabela.data_fim" md-placeholder="Data de Fim">
                    {{dados.tabela.data_fim | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>
                <md-datepicker class="tabela-cabecalho-float" ng-model="climaRel.tabela.data_inicio" md-placeholder="Data de Início">
                    {{dados.tabela.data_inicio | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>

                <md-input-container class="tabela-cabecalho-input">
                    <label>Data</label>
                    <md-select ng-model="climaRel.data">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="data in climaRel.tabela.data" ng-value="data">
                            {{data}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="tabela-cabecalho-input">
                    <label>Atributos</label>
                    <md-select multiple="" ng-model="climaRel.atributo">
                        <md-optgroup label="Atributos">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="atributo in climaRel.atributos" ng-value="atributo">
                                {{atributo}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </span>
        </div>

        <!-- Tabela -->
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-repeat="equipamento in climaRel.tabela.cabecalho">{{equipamento}}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <!-- Botão -->
        <md-button style="float: right;" class="md-primary md-raised" ng-show="climaRel.check('consumoParcela') || climaRel.check('consumoOutorga') || climaRel.check('consumoFertirrigacao')" ng-click=" ">Imprimir</md-button>
    </div>
</md-content>