<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="container">

        <!-- Campos de filtro -->
        <div style="width: 100%;" layout="row">
            <span layout="column">
                <h2>{{consumoFerRel.tabela.titulo}}</h2>
                <p>{{consumoFerRel.tabela.subtitulo}}</p>
            </span>
                <md-input-container>
                    <label>Parcela</label>
                    <md-select ng-model="consumoFerRel.parcela">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="parcela in consumoFerRel.parcelas" ng-value="parcela">
                            {{parcelas}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-input-container>
        </div>
        <!-- Campos de entrada de datas -->
        <div style="width: 100%;">
            <md-datepicker style="float: right;" ng-model="consumoFerRel.tabela.data_fim" md-placeholder="Data de Fim">
                {{dados.tabela.data_fim | date:"dd/MM/yyyy HH:mm"}}
            </md-datepicker>
            <md-datepicker style="float: right;" ng-model="consumoFerRel.tabela.data_inicio" md-placeholder="Data de Início">
                {{dados.tabela.data_inicio | date:"dd/MM/yyyy HH:mm"}}
            </md-datepicker>
        </div>
    </div>

    <!-- Tabela -->
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th ng-repeat="equipamento in consumoFerRel.tabela.cabecalho">{{equipamento}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>

    <!-- Botão -->
    <md-button style="float: right;" class="md-primary md-raised" ng-click=" ">Imprimir</md-button>
</md-content>