<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="tabela-container">
        <span class="tabela-cabecalho-titulo" layout="column">
            <span layout="column">
                <h2>{{manejoRel.cabecalho.titulo}}</h2>
                <p>{{manejoRel.cabecalho.subtitulo}}</p>
            </span>
        </span>

        <div layout="row" class="linha-filtros">

          
            <div class="col-sm-2 div-filtro no-padding">
                <md-input-container class="filtro-seletor">
                    <label>Tipo</label>
                    <md-select ng-model="manejoRel.tipo" ng-change="manejoRel.atualizaData(); manejoRel.alteraAtributos();">
                        <md-option ng-repeat=" tipo in manejoRel.cabecalho.tipo" ng-value="tipo">
                            {{tipo}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-sm-2 div-filtro no-padding">
                <md-input-container class="filtro-seletor">
                    <label>Data</label>
                    <md-select ng-model="manejoRel.data" ng-disabled="manejoRel.tipo == null " >
                        <md-option ng-repeat="data in manejoRel.cabecalho.data" ng-value="data">
                            {{data}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>


            <div class="col-sm-3 no-padding  div-filtro" style="text-align: center;">

                <md-datepicker ng-model="manejoRel.cabecalho.data_inicio" md-placeholder="Data de Início" ng-disabled="manejoRel.tipo == null || manejoRel.data != 'Período'">
                    {{dados.cabecalho.data_inicio | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>
                <md-datepicker ng-model="manejoRel.cabecalho.data_fim" md-placeholder="Data de Fim" md-min-date="manejoRel.cabecalho.data_inicio" ng-disabled="manejoRel.tipo == null || manejoRel.data != 'Período' || manejoRel.cabecalho.data_inicio == null">
                    {{dados.cabecalho.data_fim | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>
            </div>
            <div class="col-sm-2 div-filtro no-padding">
                <md-input-container class="filtro-seletor">

                    <label>Parcela</label>
                    <md-select ng-model="manejoRel.ParcelasFiltro"
                               md-on-close="manejoRel.clearSearchTerm()"
                               data-md-container-class="selectdemoSelectHeader"
                               multiple
                               md-selected-text="{{manejoRel.ParcelasFiltro.length}} + ' Parcelas' "
                               ng-disabled="manejoRel.tipo == null  ||manejoRel.data==null|| (manejoRel.data == 'Período' && manejoRel.cabecalho.data_inicio == null && manejoRel.cabecalho.data_fim == null)">
                        <md-select-header class="demo-select-header">
                            <input ng-model="manejoRel.searchTerm"
                                   type="search"
                                   placeholder="Buscar Parcela"
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup>

                            <md-button class="md-primary md-raised" ng-click="manejoRel.marcarTodosParcelas()">Todos</md-button>
                            <md-button class="md-primary md-raised" ng-click="manejoRel.limparTodosParcelas()">Limpar</md-button>
                            <md-option ng-value="parcela" ng-repeat="parcela in manejoRel.buscarParcelaFazenda(manejoRel.searchTerm)">{{parcela.NOM_PARCELA}}</md-option>
                        </md-optgroup>
                    </md-select>

                </md-input-container>
            </div>

            <div class="col-sm-2 div-filtro no-padding">
                <md-input-container class="filtro-seletor">
                    <label>Atributos</label>
                    <md-select multiple="" md-selected-text="{{manejoRel.atributosMarcados.length}} + ' Atributos' " ng-model="manejoRel.atributosMarcados" ng-disabled="manejoRel.ParcelasFiltro.length == 0 || manejoRel.tipo == null ||manejoRel.data==null|| (manejoRel.data == 'Período' && manejoRel.cabecalho.data_inicio == null && manejoRel.cabecalho.data_fim == null)">
                        <md-optgroup label="Atributos">
                            <md-button class="md-primary md-raised" ng-click="manejoRel.marcarTodosAtributos()">Todos</md-button>
                            <md-button class="md-primary md-raised" ng-click="manejoRel.limparTodosAtributos()">Limpar</md-button>
                            <md-option ng-repeat="atributo in manejoRel.atributos" ng-value="atributo">
                                {{atributo}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-sm-1 div-filtro no-padding">
                <md-button class=" md-primary md-raised" ng-click="manejoRel.iniciaBusca()" ng-disabled="manejoRel.ParcelasFiltro.length * manejoRel.atributosMarcados.length == 0 || manejoRel.tipo == null ||manejoRel.data==null|| (manejoRel.data == 'Período' && manejoRel.cabecalho.data_inicio == null && manejoRel.cabecalho.data_fim == null)" style="float: right;">
                    Buscar
                </md-button>
            </div>
        </div>

        <div class="tabela-container" ng-repeat="tabela in manejoRel.tablesParams track by $index">
            <md-toolbar class="titulo-tabela">
                <div class="md-toolbar-tools">
                    {{manejoRel.nomesParcelas[$index]}}
                    <span flex></span>
                    <md-button class="md-fab md-mini" aria-label="Imprimir" ng-click="manejoRel.imprimeTabela($index,manejoRel.nomesParcelas[$index])">
                        <md-icon>print</md-icon>
                    </md-button>
                </div>
                
            </md-toolbar>
            <table ng-table-dynamic="tabela with manejoRel.cols" id="tabela_resultado_{{$index}}" class="table">
                <tr ng-repeat="row in $data track by $index">
                    <td ng-repeat="col in $columns">
                        <span ng-if="col.type=='valorData'"> {{row[col.field]| date:"dd/MM/yyyy" }}</span>
                        <span ng-if="col.type=='valorMes'"> {{row[col.field]| date:"MM/yyyy" }}</span>
                        <span ng-if="col.type=='valor'"> {{row[col.field] }}</span>
                        <span ng-if="col.type=='valorIntervalo'"> {{col.valor}}</span>

                    </td>
                </tr>
            </table>
        </div>

    </div>
</md-content>