<!-- Conteúdo a direita -->
<md-content class="conteudo-lateral">
    <div class="container tabela-container">
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <span layout="column">
                    <h2>{{manejoRel.tabela.titulo}}</h2>
                    <p>{{manejoRel.tabela.subtitulo}}</p>
                </span>
            </span>

            <!-- Campos de entrada de datas -->
            <span class="tabela-cabecalho-campos">
                <!-- Campos de entrada de datas -->
                <md-datepicker class="tabela-cabecalho-float" ng-model="manejoRel.tabela.data_fim" md-placeholder="Data de Fim">
                    {{dados.tabela.data_fim | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>
                <md-datepicker class="tabela-cabecalho-float" ng-model="manejoRel.tabela.data_inicio" md-placeholder="Data de Início">
                    {{dados.tabela.data_inicio | date:"dd/MM/yyyy HH:mm"}}
                </md-datepicker>

                <md-input-container class="tabela-cabecalho-input">
                    <label>Tipo</label>
                    <md-select ng-model="manejoRel.tipo">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="tipo in manejoRel.tabela.tipo" ng-value="tipo">
                            {{tipo}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="tabela-cabecalho-input">
                    <label>Data</label>
                    <md-select ng-model="manejoRel.data">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="data in manejoRel.tabela.data" ng-value="data">
                            {{data}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="tabela-cabecalho-input">
                    <label>Parcela</label>
                    <md-select ng-model="manejoRel.parcela">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="parcela in manejoRel.parcelas" ng-value="parcela">
                            {{parcelas}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="tabela-cabecalho-input">
                    <label>Atributos</label>
                    <md-select multiple="" ng-model="manejoRel.atributo">
                        <md-optgroup label="Atributos">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="atributo in manejoRel.atributos" ng-value="atributo">
                                {{atributo}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </span>
        </div>

        <!-- Tabela -->
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-repeat="equipamento in manejoRel.tabela.cabecalho">{{equipamento}}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</md-content>