<md-dialog class="tela-cadastro" aria-label="Dados Gotejador" ng-cloak>
    <form name="gotejadorForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools" id="tool-bar">

                <h2>Dados Gotejador</h2>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div class="md-dialog-content" style="text-align: center">
                <md-input-container class="md-block">
                    <label>Nome</label>
                    <input name="NOM_GOTEJADOR" type="text" ng-model="selected.NOM_GOTEJADOR" ng-maxlength="20" ng-minlength="4" required />
                    <div ng-messages="gotejadorForm.NOM_GOTEJADOR.$error" role="alert">
                        <div ng-message="required">Campo obrigratório.</div>
                        <div ng-message="minlength">Campo muito pequeno.</div>
                        <div ng-message="maxlength">Campo muito grande.</div>
                    </div>
                </md-input-container>
             
                <md-input-container class="md-block">
                    <label>Vazão (l/h)</label>
                    <input name="VAZ_GOTEJADOR" type="number" ng-model="selected.VAZ_GOTEJADOR" required ng-change="calculaLaminaGotejador()" />
                    <div ng-messages="gotejadorForm.VAZ_GOTEJADOR.$error" role="alert">
                        <div ng-message="required">Campo obrigratório.</div>
                    </div>
                </md-input-container>
               
                <md-input-container class="md-block">
                    <label>Espaçamento entre Gotejadores</label>
                    <input name="VAR_ESPACAMENTO_GOTEJADORES" type="number" ng-model="selected.VAR_ESPACAMENTO_GOTEJADORES" required ng-change="calculaLaminaGotejador()" />
                    <div ng-messages="gotejadorForm.VAR_ESPACAMENTO_GOTEJADORES.$error" ng-messages-multiple role="alert">
                        <div ng-message="required">Campo obrigratório.</div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Espaçamento entre linhas laterais</label>
                    <input name="VAR_ESPACAMENTO_LINHAS_LATERAIS" type="number" ng-model="selected.VAR_ESPACAMENTO_LINHAS_LATERAIS" required ng-change="calculaLaminaGotejador()" />
                    <div ng-messages="gotejadorForm.VAR_ESPACAMENTO_LINHAS_LATERAIS.$error" ng-messages-multiple role="alert">
                        <div ng-message="required">Campo obrigratório.</div>
                    </div>
                </md-input-container>
               
                <md-input-container class="md-block">
                    <label>Largura da Faixa Molhada</label>
                    <input name="LAR_FAIXA_MOLHADA" type="number" ng-model="selected.LAR_FAIXA_MOLHADA" required ng-change="calculaLaminaGotejador()" />
                    <div ng-messages="gotejadorForm.LAR_FAIXA_MOLHADA.$error" ng-messages-multiple role="alert">
                        <div ng-message="required">Campo obrigratório.</div>
                    </div>
                </md-input-container>
               
                <md-input-container class="md-block">
                    <label>Uniformidade (%)</label>
                    <input name="VAR_UNIFORMIDADE" type="number" ng-model="selected.VAR_UNIFORMIDADE" required ng-change="calculaLaminaGotejador()" />
                    <div ng-messages="gotejadorForm.VAR_UNIFORMIDADE.$error" role="alert">
                        <div ng-message="required">Campo obrigratório.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Lâmina (mm)</label>
                    <input name="VAR_LAMINA" ng-model="selected.VAR_LAMINA" ng-readonly="true" />
                    <div ng-messages="gotejadorForm.VAR_LAMINA.$error" role="alert">
                        <div ng-message="required">Campo obrigratório.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()" class="md-raised md-primary">
                Cancelar
            </md-button>
            <md-button type="submit" ng-click="gotejadorForm.$valid &&salvar(selected)" class="md-raised md-primary" style="margin-right:20px;">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>