<md-dialog aria-label="Criar Fazenda" ng-cloak>
    <form name="fazendaForm">
        <md-toolbar>
            <div class="md-toolbar-tools" id="tool-bar">
                <h2>{{tabela.titulo}}</h2>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="width-100">
                    <label>Nome</label>
                    <input name="Nome" ng-model="selected.NOME" required ng-maxlength="20" ng-minlength="4">
                    <!-- Error messages for the input -->
                    <div ng-messages="fazendaForm.Nome.$error">
                        <div ng-message="required">Campo obrigatório.</div>
                        <div ng-message="minlength">Campo muito pequeno.</div>
                        <div ng-message="maxlength">Campo muito grande.</div>
                    </div>
                </md-input-container>
                <br />
                <md-input-container class="width-100">
                    <label>Área</label>
                    <input name="Area" ng-model="selected.AREA">
                </md-input-container>
                <br />
                <md-input-container class="width-100">
                    <label>Altitute</label>
                    <input name="Altitute" ng-model="selected.ALTITUDE">
                </md-input-container>
                <br />
                <md-input-container class="md-block">
                    <label>Estado</label>
                    <md-autocomplete md-no-cache="true" md-selected-item="selected.ESTADO" md-items="estado in getMatchesEstado(searchTextEstado)" md-search-text="searchTextEstado" md-item-text="estado.SIGLA" md-selected-item-change="onchangeSelectedEstado(selected.ESTADO)" md-min-length="0">
                        <span md-highlight-text="searchTextEstado">{{estado.SIGLA}}</span>
                    </md-autocomplete>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Cidade</label>
                    <md-autocomplete md-no-cache="true" md-selected-item="selected.CIDADE" md-items="cidade in getMatchesCidade(searchTextCidade)" md-search-text="searchTextCidade" md-item-text="cidade.NOME" md-selected-item-change="onchangeSelectedCidade(selected.CIDADE)" md-min-length="0">
                        <span md-highlight-text="searchTextCidade">{{cidade.NOME}}</span>
                    </md-autocomplete>
                </md-input-container>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()" class="md-raised md-primary">
                Cancelar
            </md-button>
            <md-button type="submit" ng-click="fazendaForm.$valid && salvar(selected)" class="md-raised md-primary" style="margin-right:20px;">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>