<!-- Conteúdo a direita -->

<md-content class="conteudo-lateral">
    <di>
        <div class="tabela-cabecalho" layout="row">
            <span class="tabela-cabecalho-titulo" layout="column">
                <h2>{{fazendas.tabela.titulo}}</h2>
                <p style="display: inline; margin-right= 50px;">{{fazendas.tabela.subtitulo}}</p>
            </span>
        </div>

        <div layout="row">
            <div class="col-sm-6 no-padding">
                <!-- Botões -->
                <md-button class="md-primary md-raised" ng-click="fazendas.create()">Novo</md-button>
                <md-button class="md-primary md-raised" ng-click="fazendas.printData()">Imprimir</md-button>
            </div>
        </div>

        <!-- Tabela -->

     

        <!-- Tabela -->
        <div class="tabela-container">
            <table ng-table-dynamic="fazendas.tableParams with fazendas.cols" class="table" show-filter="true">
                <tr ng-repeat="row in $data" ng-class="{'success': row.IDC_CAD_FAZENDA == fazendas.codFazendaAtual }">
                    <td ng-repeat="col in $columns">
                        <span ng-if="col.type=='valor'"> {{row[col.field] }}</span>
                        <span ng-if="col.type=='valorCompostoCidade'"> {{fazendas.getCidade(row[col.field]).NOM_CIDADE}}</span>
                        <span ng-if="col.type=='valorCompostoEstado'"> {{fazendas.getEstado().SIG_ESTADO}}</span>

                        <span ng-if="col.type=='comandoMarcar'" class='width-70-px'>
                            <md-button class="md-icon-button"
                                       ng-click="fazendas.selecionar($event, row)"
                                       aria-label="Editar">
                                <md-icon> check  </md-icon>

                            </md-button>
                        </span>
                        <span ng-if="col.type=='comandoEditar'" class='width-70-px'>
                            <md-button class="md-icon-button"
                                       ng-click="fazendas.update($event, row)"
                                       aria-label="Editar">
                                <md-icon> create </md-icon>
                            </md-button>
                        </span>
                        <span ng-if="col.type=='comandoDeletar'">
                            <md-button class="md-icon-button"
                                       ng-click="fazendas.excluir($event, row)"
                                       aria-label="Excluir">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        </div>
</md-content>